html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #030A8C;
    color:#ffffff;
}

nav {
    background-color: #030A8C;
    color:#ffffff;
}

li {
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li:hover {
    background-color:#590242;
}

body {
    background-color:#ffffff;
    width: 375px;
    margin: 0 auto;
    color:#590242;
}

h1 {
    font-size: 1.25em;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
    color:#590242;
}

#trending {
    width:375px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
    color:#590242;
}

#playlists {
    background-color: #2699FB;
    color:#590242;
}

#playlists section {
    background-color: #0D8Dfb;
    color:#ffffff;
}

#curated {
    background-color: #030A8C;
    color:#590242;
}

#curated section {
    background-color: #020873;
    color:#ffffff;
}

ul { /*hides content*/
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

aside {
    background-color: #590242;
}

@media screen and (min-width:834px) {
    body {
        width:834px;
    }
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
    #trending {
        width: 834px;
    }
}