html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #030A8C;
    color:#ffffff;
}

nav {
   /* background-color: #030A8C;*/
    color:#ffffff;
}

li {
    text-decoration: none;
    color:#ffffff;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    background-color:#590242;
}

body {
    background-color:#ffffff;
    width: 375px;
    margin: 0 auto;
    color:#590242;
}

h1 {
    font-size: 1.25em;
    /*color: #ffffff;*/
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 5px;
}

h2, h3 {
    font-size: 1em;
    /*background-color: #ffffff;*/
    text-transform: uppercase;
    margin: 5px;
}

header div, header div h2 {
    background-image:linear-gradient(to right, #2104D9, black );
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
    color:#590242;
}

/*#trending {
    overflow: scroll;
    color:#590242;
}*/

.scroll {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin:10px;
    position: relative;
    /*background-color: rgba(255, 255, 255, .75);*/
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

/*dl {
    display: flex;
}

dt {
    padding-right: 5px;
}*/
#trending p {
    margin-top: 5px;
    margin-left: 5px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}


#playlists h2{
    color:#590242;
}

#playlists {
    width: 375px;
    background-color: #2699FB;
    color:#ffffff;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

#playlists section, #playlists h3, #playlists img {
    background-color: #0d8dfb;
    margin: 5px;
    text-align: center;
}


#curated h2 {
    /*background-color: #030A8C;*/
    color:#590242;
    padding: 5em;
}
#curated {
    width: 375px;
    background-color: #2104D9;
    color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

#curated section, #curated h3, #curated img {
    background-color: #030A8C;
    margin: 5px;
    text-align: center;
}

/*#trending::-webkit-scrollbar {
    width: 15px;
}

#trending::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
*/

#playlists::-webkit-scrollbar, #curated::-webkit-scrollbar {
    width: 15px;
}

#playlists::-webkit-scrollbar-track, #curated::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#playlists::-webkit-scrollbar-thumb, #curated::-webkit-scrollbar-thumb{
    background: #020659;
    border-radius: 5px;
}

#playlists::-webkit-scrollbar-thumb:hover, #curated::-webkit-scrollbar-thumb:hover{
    background: #ffffff;
}



ul { /*hides content*/
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    top: 0;
    display: grid;
    /*position: relative;*/
}
label {
    cursor: pointer;
    display: grid;
    padding: 28px 20px;
    position: absolute;
    user-select: none;
    top: 0;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

aside {
    background-color: #590242;
    border-radius: 4px;
    width: 150px;
    margin: 25px;
    padding: 10px 28px;
    text-align: center;
}

footer {
    text-align: center;
}

@media screen and (min-width:834px) {
    body {
        width:834px;
    }
    header {
        padding: 12px;
    }
    header div, header div h2, header div p {
        background-image:linear-gradient(to right, #2104D9, black );
        width: 810px;
        margin-right: 20px;
        margin-bottom: 0px;
        /*margin: 10px;
        padding: 10px;
        border: none;*/
    }
    /*header div p{
        margin-top: 10px;
    }*/
    h1 {
        text-align: left;
        margin: 3px;
    }
    ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 10px;
        margin-left: 65px;
    }
    li {
        /*overflow: visible;*/
        /*margin-right:*/
        position: relative;
        display: inline-block;
        width: 50%;
        z-index: 1;
        top: 0;
        padding-left: 20px;
        margin-left: 65px;
        margin-bottom: 0px;

    }
    nav {
        width: 50%;
        position: absolute;
        top: 0;
    }
    aside {
        float: right;
        background-color: #590242;
        border-radius: 4px;
        width: 150px;
        margin: 15px;
        margin-top: 5px;
        padding: 10px 28px;
        text-align: center;
    }
    aside:hover {
        background-color: #020659;
    }
    label span, input {
        display: none;
    }
    #trending {
        width: 834px;
    }
    /*main div {
        margin: 30px;
        display: grid;
        grid-template-columns: 1fr;
        position:relative;
    }*/
    .playlist {
        margin-left:30px;
        margin-top: 40px;
        width: max-content;
        float: left;
        display: grid;
        grid-template-columns: 1fr;
    }
    .curate {
        margin-right: 30px;
        display:grid;
        margin-top: 40px;
        /*margin-left: 70px;*/
        grid-template-columns: 1fr;
    }
    #playlists, #curated {
        height: 375px;
        display:grid;
        grid-template-columns: 1fr;
        overflow: scroll;
        position:relative;
    }
    #playlists section, #playlists h3{
        text-align: right;
    }
    #playlists img {
        float: left;
    }
    #curated section, #curated h3 {
        text-align: right;
    }
    #curated img {
        float: left;
    }
    footer {
        text-align: center;
    }
}